<h1 class="text-4xl font-bold text-center mb-8 justify-center">CLASES</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center">
    <div class="bg-red-500 hover:bg-red-200 p-4 shadow rounded">
        <img src="./assets/d4/pj/barbarian.png" alt="Imagen 1" class="w-full h-auto rounded">
    </div>
    <div class="bg-green-500 hover:bg-green-200 p-4 shadow rounded">
        <img src="./assets/d4/pj/druid.png" alt="Imagen 2" class="w-full h-auto rounded">
    </div>
    <div class="bg-gray-500 hover:bg-gray-200 p-4 shadow rounded">
        <img src="./assets/d4/pj/necromancer.png" alt="Imagen 3" class="w-full h-auto rounded">
    </div>
    <div class="bg-violet-500 hover:bg-violet-200 p-4 shadow rounded">
        <img src="./assets/d4/pj/rogue.png" alt="Imagen 4" class="w-full h-auto rounded">
    </div>
    <div class="bg-sky-500 hover:bg-sky-200 p-4 shadow rounded">
        <img src="./assets/d4/pj/sorcerer.png" alt="Imagen 4" class="w-full h-auto rounded">
    </div>
    <!-- Añade más divs con imágenes según sea necesario -->
</div>