<button class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-200" [disabled]="loading" type="button">
    {{ text }}

    <div *ngIf="loading" class="flex gap-1" id="contentloading">
      <span class="w-2.5 h-2.5 bg-white rounded-full animate-bounce"></span>
      <span class="w-2.5 h-2.5 bg-white rounded-full animate-bounce delay-150"></span>
      <span class="w-2.5 h-2.5 bg-white rounded-full animate-bounce delay-300"></span>
    </div>
    <span *ngIf="!loading">{{ text }}</span>
  </button>